<!DOCTYPE html>
<html>
<head>
  <title>EjercicioEnClase</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<ul class="nav navbar-nav">
        <li><!-- <a href="#">Link</a> -->
        	<%=link_to "Pag2", pags_pag2_url%>
        </li>
        <li><!-- <a href="#">Link</a> -->
        	<%=link_to "Pag3", pags_pag3_url%>
        </li>
      </ul>
	<p>¡Soy la landing page!</p>
</body>
</html>
